<!-- <md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</md-icon>
    </button>
  <span>Third Line</span>
  <span class="example-spacer"></span>
  <md-icon class="example-icon">favorite</md-icon>
  <md-icon class="example-icon">delete</md-icon>
</md-toolbar> -->

<div class="mat-elevation-z6" style="position: relative;z-index: 10;color: hsla(0,0%,100%,.87);">
  <nav style="background: #3f51b5;flex-wrap: wrap;align-items: center;padding: 8px 16px;color: hsla(0,0%,100%,.87);">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</md-icon>
    </button>
    <button md-button>Basic</button>
  </nav>
</div>

<md-sidenav-container style="position: relative;transform: translate3d(0,0,0);box-sizing: border-box;display: block;overflow: hidden !important;">
  <md-sidenav #sidenav mode="side" opened="true">
    <!-- Drawer content -->
    <nav>
      <h3 style="border: none;font-size: 11px;letter-spacing: 1px;line-height: 24px;text-transform: uppercase;font-weight: 400;margin: 0;padding: 0 16px;background: rgba(0,0,0,.32);color: hsla(0,0%,100%,.87);">Form Controls</h3>
      <ul style="list-style-type: none;margin: 0;padding: 0;">
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
              Autocomplete
            </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
              Checkbox
            </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker">
              Datepicker
            </a>
        </li>
      </ul>
    </nav>
    <nav>
        <h3 style="border: none;font-size: 11px;letter-spacing: 1px;line-height: 24px;text-transform: uppercase;font-weight: 400;margin: 0;padding: 0 16px;background: rgba(0,0,0,.32);color: hsla(0,0%,100%,.87);">Form Controls</h3>
        <ul style="list-style-type: none;margin: 0;padding: 0;">
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/autocomplete">
                Autocomplete
              </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/checkbox">
                Checkbox
              </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/datepicker">
                Datepicker
              </a>
          </li>
        </ul>
      </nav>
  </md-sidenav>
  <div class="my-content" style="overflow:auto;">
    <h1>Main content</h1>

  </div>
</md-sidenav-container>