body {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;
    border-color: rgba(0,0,0,.06);
    color: rgba(0,0,0,.54);
    list-style-type: none;
}

li > a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    color: rgba(0,0,0,.54);
    list-style-type: none;
}

li > a:hover{
    background: #fafafa;
    color: #3f51b5;
}